packages/*
TabTest/TabTest/bin/*
TabTest/TabTest/obj/*
TabTest/TabTest.Droid/bin/*
TabTest/TabTest.Droid/obj/*
TabTest/TabTest.iOS/bin/*
TabTest/TabTest.iOS/obj/*
TabTest/TabTest.WinPhone/bin/*
TabTest/TabTest.WinPhone/obj/*
